* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: #021b14;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}
